.spinner {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
}



